.add-top {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.add-top-button {
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}


.add-top-button i {
    display: flex;
    align-items: center;
    margin-right: 4px;
}
